@charset "UTF-8";

body{
	margin: 0;
	width: 100%;
}

#wrap{
	width: 100%; margin: 0; 
	background-color: #161616;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 240px 1fr;
	overflow: hidden;
}
::-webkit-scrollbar{
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background-color: #606060;
}
::-webkit-scrollbar-track-piece{
	background-color: #161616;
}


#top-bar{
	width: calc(100% - 8px); height: 56px;
	margin: 0; padding: 0 16px;
	background-color: #1f1f1f;
 	position: fixed;
}

#top-bar>#left-top{
	height: 100%; width: 240px;
	padding-top: 4px;
	display: flex;
	align-items: center;
	position: absolute;
}
#top-bar>#left-top>#nav-button{
	padding: 5px; margin-right: 9px;
}

#top-bar>#center-top{
	box-sizing: border-box;
	width: 74%; height : 56px;
	margin-left: 240px;
	display: flex;
	align-items: center;
	padding-left: 13%;
	position: absolute;
}

#search-bar{
	width: 100%; height: 30px;
	max-width: 75%;
}
#search-form{
	width: 100%; height: 100%;
	display: flex;
	align-items: center;
	padding-left: 12%;
	box-sizing: border-box;
}
/* 상단바의 검색창 */
#search-box{
	border: 1px solid #373737;
	border-right: none;
	background-color: #0f0f0f;
	background-image: url("image/illust-keyboard.PNG");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 35px;
	width: 72%; height: 24px;
	padding: 2px 5px 2px 2px;
	font-family: sans-serif;
	font-size: 16px;
	border-radius: 2px;
}
#search-box:focus{
	outline: 1px solid  #2155de;
}

#search-button{
	width: 65px; height: 28px;
	border: 0; padding: 0;
}
#search-button img{
	width: 100%; height: 100%;
}
#illust-mike{
	margin-left: 15px; height: 28px;
}

#right-top{
	height: 56px;
	float: right;
	padding-right: 16px;
	display: flex;
	align-items: center;
}

#right-top>img{
	padding: 13px 7px;
	margin-right: 15px;
	width: 23px;
}
#right-top>#illust-info{
	width: 45px;
}

.top-bar:HOVER, .middle-bar:HOVER, .subscribe-bar:HOVER, 
.category-bar:HOVER, .guidesection-bar:HOVER{
	background-color: #606060;
	cursor: pointer;
}


/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* 왼쪽네비게이션바 */

#nav-bar{
	background-color: #1f1f1f; 
	margin-top: 56px; margin-right: 0;
	width: 240px; height: calc(100% - 56px);
	box-sizing: border-box;
	color: #e8e8e8;
	font-size: 14px;
	font-weight: 600;
	display: inline;
}
#nav-bar:HOVER{
	overflow-x: hidden;
	overflow-y: scroll;
}



/* 왼쪽상단 네비바 */
#nav-bar>#top-navbar{
	width: 232px; height: 188px;
	padding: 8px 0; 
	box-sizing: border-box;
	border-bottom: 1px solid #373737;
	
}

#nav-bar>#top-navbar>.top-bar{
	width: 208px; height: 40px;
	padding-left: 24px;
	display: flex;
	align-items: center;
}
.top-bar>img{
	width: 23px;
	margin-right: 20px;
	margin-top: 5px;
}
/* 왼쪽상단 네비바 */



/* 왼쪽중간 네비바 */

#nav-bar>#middle-navbar{
	padding: 12px 0;
	box-sizing: border-box;
	width: 232px; height: 264px;
	border-bottom: 1px solid #373737;
}

#nav-bar>#middle-navbar>.middle-bar{
	width: 208px; height: 40px;
	padding-left: 24px;
	display: flex;
	align-items: center;
}
.middle-bar>img{
	width: 23px;
	margin-right: 20px;
	margin-top: 5px;
}
/* 왼쪽중간 네비바 */

/* 구독목록 */
#nav-bar>#subscribes{
	padding: 12px 0;
	width: 232px; height: 379px;
	box-sizing: border-box;
	border-bottom: 1px solid #373737;
}

#nav-bar>#subscribes>#subs-subject{
	width: 208px; height: 35px;
	padding-left: 24px;
	color: #919191;
}
#nav-bar>#subscribes>.subscribe-bar{
	width: 208px; height: 40px;
	padding-left: 24px;
	display: flex;
	align-items: center;
}

.subscribe-bar>img{
	width: 25px;
	margin-right: 20px;
	margin-top: 5px;
}
/* 구독목록 */



/* 유튜브더보기란 */
#nav-bar>#more-youtube{
	width: 232px; height: 252px;
	padding: 12px 0;
	box-sizing: border-box;
	border-bottom: 1px solid #373737;
}

#nav-bar>#more-youtube>#moreyoutube-subject{
	width: 208px; height: 35px;
	padding-left: 24px;
	color: #919191;
	display: flex;
	align-items: center;
}

#nav-bar>#more-youtube>.category-bar{
	width: 208px; height: 40px;
	padding-left: 24px;
	display: flex;
	align-items: center;
}

.category-bar>img{
	margin-right: 20px;
	margin-top: 5px;
}
/* 유튜브더보기란 */

/* 유튜브설정/고객센터 */
#nav-bar>#guide-section{
	width: 232px; height: auto;
	padding: 12px 0;
	box-sizing: border-box;
	border-bottom: 1px solid #373737;
}

#nav-bar>#guide-section>.guidesection-bar{
	width: 208px; height: 40px;
	padding-left: 24px;
	display: flex;
	align-items: center;
}

.guidesection-bar>img{
	margin-right: 20px;
	margin-top: 5px;
}
/* 유튜브설정/고객센터 */
#nav-bar>footer{
	width: 240px; height: 295px;
}

#guide-link{
	height: 150px;
	padding-left: 20px;
}

#guide-link>a{
	text-decoration: none;
	color: #919191;
	font-size: 13px;
}

#corporation{
	padding: 12px 20px;
	font-size: 12px;
	color: #646464;
}


/* 왼쪽네비게이션바 끝*/
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */


/* 메인영상영역 */
#main-area{
	margin-top: 56px;
}
#main-area-container{
	margin-top: 25px;
	padding: 0 80px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px 16px;
}

.content{
	margin-bottom: 30px;
}


.content>.main-display{
	width: 100%; height: auto;
}

.content>.video-items{
	margin-top: 8px;
}

.content>.video-items>.youtube-page{
	margin-right: 8px;
	float: left;
}
.content>.video-items>.video-title{
	margin: 0;
	color: #e8e8e8;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	white-space: normal;
	line-height: 1.2;
	
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;	
}

.content>.video-info{	
	margin-top: 5px;
	margin-left: 45px;
	color: #919191;
	font-size: 14px;
}

.content:HOVER{
	cursor: pointer;
}
.youtube-page:HOVER{
	color: #e8e8e8;
}
/* 메인영상영역 */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */









